Repository zupo/drills: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, yamllint, elm-format

end-of-file-fixer:
  name: Fix End of Files
  description: Ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: yamllint
  language: system

elm-format:
  name: Elm Format
  description: Format Elm source code
  entry: elm-format --yes
  language: system

Add linters and formatters to pre-commit checks (#5)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamllint
  README.md
  elm.json
  package-lock.json
  package.json
  review/elm.json
  review/src/ReviewConfig.elm
  review/suppressed/NoImportingEverything.json
  review/suppressed/NoMissingTypeAnnotation.json
  review/suppressed/NoUnused.CustomTypeConstructorArgs.json
  review/suppressed/NoUnused.CustomTypeConstructors.json
  review/suppressed/NoUnused.Exports.json
  review/suppressed/NoUnused.Parameters.json
  shell.nix
  src/Backend.elm
  src/Env.elm
  src/Evergreen/V1/Types.elm
  src/Frontend.elm
  src/Types.elm
  tailwind.config.js
  tests/Tests.elm
Due: end-of-file-fixer, yamllint, elm-format

No need for elm-analyse because we use elm-review
  package-lock.json
  package.json
Due: end-of-file-fixer

No need for elm-analyse because we use elm-review (#6)
  package-lock.json
  package.json
Due: end-of-file-fixer

Restart new year
  src/Main.elm
Due: end-of-file-fixer, elm-format

week 2
  src/Main.elm
Due: end-of-file-fixer, elm-format

Migrate from shell.nix to devenv.nix
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  devenv.lock
  devenv.nix
  devenv.yaml
  postcss.config.js
  public/index.html
  shell.nix
  tailwind.config.js
Due: end-of-file-fixer, yamllint

get elm-test-rs 3.0.0. from nixpkgs-unstable
  .github/workflows/ci.yml
  devenv.lock
  devenv.nix
  devenv.yaml
Due: end-of-file-fixer, yamllint

try npx
  devenv.nix
Due: end-of-file-fixer

try removing elm-test-rs from node deps
  package.json
Due: end-of-file-fixer

manuall remove elm-test-rs from package-lock.json
  .github/workflows/ci.yml
  devenv.nix
  package-lock.json
Due: end-of-file-fixer, yamllint

one more try
  devenv.nix
Due: end-of-file-fixer

as minimal as it gets
  devenv.nix
Due: end-of-file-fixer

re-add bits
  devenv.nix
Due: end-of-file-fixer

deubg
  .github/workflows/ci.yml
  devenv.nix
Due: end-of-file-fixer, yamllint

run make before tests
  .github/workflows/ci.yml
  devenv.nix
Due: end-of-file-fixer, yamllint

fix tests by running lamdera make first to install elm stuff
  .github/workflows/ci.yml
  devenv.nix
Due: end-of-file-fixer, yamllint

wrap CI shell into devenv
  .github/workflows/ci.yml
Due: end-of-file-fixer, yamllint

lamdera deploy setup
  .github/workflows/ci.yml
Due: end-of-file-fixer, yamllint

re-add back pre-commit-check
  devenv.nix
  devenv.yaml
Due: end-of-file-fixer, yamllint

try elm-land
  .elm-land/src/Auth.elm
  .elm-land/src/Auth/Action.elm
  .elm-land/src/Effect.elm
  .elm-land/src/Layout.elm
  .elm-land/src/Layouts.elm
  .elm-land/src/Main.elm
  .elm-land/src/Main/Layouts/Model.elm
  .elm-land/src/Main/Layouts/Msg.elm
  .elm-land/src/Main/Pages/Model.elm
  .elm-land/src/Main/Pages/Msg.elm
  .elm-land/src/Page.elm
  .elm-land/src/Pages/NotFound_.elm
  .elm-land/src/Route.elm
  .elm-land/src/Route/Path.elm
  .elm-land/src/Route/Query.elm
  .elm-land/src/View.elm
  .elm-land/src/interop.js
  .elm-land/src/interop.ts
  .gitignore
  _postcss.config.js
  devenv.nix
  elm-land.json
  elm.json
  src/Backend.elm
  src/Bridge.elm
  src/Env.elm
  src/Frontend.elm
  src/Pages/Home_.elm
  src/Shared.elm
  src/Shared/Model.elm
  src/Shared/Msg.elm
  src/Types.elm
Due: end-of-file-fixer, elm-format

don' deploy from macos-runner
  .github/workflows/ci.yml
Due: end-of-file-fixer, yamllint

add migratinos
  src/Evergreen/Migrate/V12.elm
  src/Evergreen/V12/Bridge.elm
  src/Evergreen/V12/Main.elm
  src/Evergreen/V12/Main/Layouts/Model.elm
  src/Evergreen/V12/Main/Layouts/Msg.elm
  src/Evergreen/V12/Main/Pages/Model.elm
  src/Evergreen/V12/Main/Pages/Msg.elm
  src/Evergreen/V12/Pages/Home_.elm
  src/Evergreen/V12/Pages/NotFound_.elm
  src/Evergreen/V12/Shared.elm
  src/Evergreen/V12/Shared/Model.elm
  src/Evergreen/V12/Shared/Msg.elm
  src/Evergreen/V12/Types.elm
Due: end-of-file-fixer, elm-format

Preparing for v1
  src/Evergreen/Migrate/V12.elm
  src/Evergreen/V1/Bridge.elm
  src/Evergreen/V1/Main.elm
  src/Evergreen/V1/Main/Layouts/Model.elm
  src/Evergreen/V1/Main/Layouts/Msg.elm
  src/Evergreen/V1/Main/Pages/Model.elm
  src/Evergreen/V1/Main/Pages/Msg.elm
  src/Evergreen/V1/Pages/Home_.elm
  src/Evergreen/V1/Pages/NotFound_.elm
  src/Evergreen/V1/Shared.elm
  src/Evergreen/V1/Shared/Model.elm
  src/Evergreen/V1/Shared/Msg.elm
  src/Evergreen/V1/Types.elm
  src/Evergreen/V12/Bridge.elm
  src/Evergreen/V12/Main.elm
  src/Evergreen/V12/Main/Layouts/Model.elm
  src/Evergreen/V12/Main/Layouts/Msg.elm
  src/Evergreen/V12/Main/Pages/Model.elm
  src/Evergreen/V12/Main/Pages/Msg.elm
  src/Evergreen/V12/Pages/NotFound_.elm
  src/Evergreen/V12/Shared.elm
  src/Evergreen/V12/Shared/Msg.elm
  src/Evergreen/V12/Types.elm
Due: end-of-file-fixer, elm-format

vanilla lamdera app with passing elm-review
  .elm-land/src/Main.elm
  .elm-land/src/Main/Pages/Model.elm
  .elm-land/src/Main/Pages/Msg.elm
  .elm-land/src/Route/Path.elm
  .elm-land/src/Shared.elm
  .elm-land/src/Shared/Model.elm
  .elm-land/src/Shared/Msg.elm
  README.md
  devenv.nix
  elm.json
  review/src/ReviewConfig.elm
  review/suppressed/NoImportingEverything.json
  review/suppressed/NoMissingTypeAnnotation.json
  review/suppressed/NoUnused.CustomTypeConstructorArgs.json
  review/suppressed/NoUnused.CustomTypeConstructors.json
  review/suppressed/NoUnused.Exports.json
  review/suppressed/NoUnused.Parameters.json
  src/Backend.elm
  src/Bridge.elm
  src/Env.elm
  src/Evergreen/V1/Bridge.elm
  src/Evergreen/V1/Main.elm
  src/Evergreen/V1/Main/Layouts/Model.elm
  src/Evergreen/V1/Main/Layouts/Msg.elm
  src/Evergreen/V1/Main/Pages/Model.elm
  src/Evergreen/V1/Main/Pages/Msg.elm
  src/Evergreen/V1/Pages/Home_.elm
  src/Evergreen/V1/Pages/NotFound_.elm
  src/Evergreen/V1/Shared.elm
  src/Evergreen/V1/Shared/Model.elm
  src/Evergreen/V1/Shared/Msg.elm
  src/Evergreen/V1/Types.elm
  src/Frontend.elm
  src/Pages/Home_.elm
  src/Types.elm
Due: end-of-file-fixer, elm-format

readded vanilla elm-land with elm-review passing
  .elm-land/src/Main.elm
  .elm-land/src/Main/Pages/Model.elm
  .elm-land/src/Main/Pages/Msg.elm
  .elm-land/src/Route/Path.elm
  src/Backend.elm
  src/Bridge.elm
  src/Frontend.elm
  src/Pages/Home_.elm
  src/Types.elm
Due: end-of-file-fixer, elm-format

save likes to backend
  elm.json
  src/Backend.elm
  src/Bridge.elm
  src/Frontend.elm
  src/Pages/Home_.elm
  src/Shared.elm
  src/Shared/Model.elm
  src/Shared/Msg.elm
  src/Types.elm
Due: end-of-file-fixer, elm-format

load likes on connect
  src/Backend.elm
  src/Types.elm
Due: end-of-file-fixer, elm-format

devenv tweaks
  .github/workflows/ci.yml
  README.md
  devenv.nix
Due: end-of-file-fixer, yamllint

refactor to Drills
  .github/workflows/ci.yml
  README.md
  devenv.nix
  package-lock.json
  package.json
  review/src/ReviewConfig.elm
  src/Evergreen/V1/Bridge.elm
  src/Evergreen/V1/Main.elm
  src/Evergreen/V1/Main/Layouts/Model.elm
  src/Evergreen/V1/Main/Layouts/Msg.elm
  src/Evergreen/V1/Main/Pages/Model.elm
  src/Evergreen/V1/Main/Pages/Msg.elm
  src/Evergreen/V1/Pages/Home_.elm
  src/Evergreen/V1/Pages/NotFound_.elm
  src/Evergreen/V1/Shared.elm
  src/Evergreen/V1/Shared/Model.elm
  src/Evergreen/V1/Shared/Msg.elm
  src/Evergreen/V1/Types.elm
Due: end-of-file-fixer, yamllint, elm-format

Further future-proofing (#8)
  .github/workflows/ci.yml
  README.md
  devenv.nix
  elm.json
  package-lock.json
  package.json
  review/src/ReviewConfig.elm
  review/suppressed/NoImportingEverything.json
  review/suppressed/NoMissingTypeAnnotation.json
  review/suppressed/NoUnused.CustomTypeConstructorArgs.json
  review/suppressed/NoUnused.CustomTypeConstructors.json
  review/suppressed/NoUnused.Exports.json
  review/suppressed/NoUnused.Parameters.json
  src/Backend.elm
  src/Bridge.elm
  src/Env.elm
  src/Frontend.elm
  src/Pages/Home_.elm
  src/Shared.elm
  src/Types.elm
Due: end-of-file-fixer, yamllint, elm-format

add support for tailwind
  README.md
  devenv.nix
  head.html
  package-lock.json
  package.json
  public/index.html
  public/output.css
  src/Pages/Home_.elm
  src/style.css
Due: end-of-file-fixer, elm-format

vanilla tailwind
  README.md
  devenv.nix
  head.html
  src/Pages/Home_.elm
Due: end-of-file-fixer, elm-format

elm utilities for tailwind
  elm.json
Due: end-of-file-fixer

tailwind works
  elm.json
  head.html
  src/Pages/Home_.elm
  src/View.elm
Due: end-of-file-fixer, elm-format

public/ was missing
  .github/workflows/ci.yml
  .gitignore
  public/style.css
Due: end-of-file-fixer, yamllint

Add support for tailwind (#9)
  .github/workflows/ci.yml
  .gitignore
  README.md
  devenv.nix
  elm.json
  head.html
  package-lock.json
  package.json
  public/index.html
  public/style.css
  src/Pages/Home_.elm
  src/View.elm
  src/style.css
Due: end-of-file-fixer, yamllint, elm-format

Spelling game
  .elm-land/src/Main.elm
  .elm-land/src/Main/Pages/Model.elm
  .elm-land/src/Main/Pages/Msg.elm
  .elm-land/src/Route/Path.elm
  head.html
  src/Pages/Home_.elm
  src/Pages/Spelling.elm
Due: end-of-file-fixer, elm-format

Add support for text-to-speech
  elm-pkg-js-includes.js
  elm-pkg-js/say.js
  src/Effect.elm
  src/Pages/Spelling.elm
Due: end-of-file-fixer, elm-format

polish
  elm-pkg-js-includes.js
  elm-pkg-js/text_to_speech.js
  elm.json
  public/style.css
  src/Effect.elm
  src/Pages/Spelling.elm
Due: end-of-file-fixer, elm-format

Path conditions:
  end-of-file-fixer: any file but: (?x)^(
    public/.*|
)$

  yamllint: any of: \.(yaml|yml)$
  elm-format: any of: ^.*\.elm
